# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyBaFJ4YJWuNolXhaMX3S48Oxw7K44uUK6w

In [17]:
csvfile = "../output_data/weather_data.csv"
heatmap_df = pd.read_csv(csvfile)
heatmap_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.12,-134.97,70.12,80,3,22.57,PF,1601448295
1,1,Pevek,69.70,170.31,38.37,78,97,16.26,RU,1601448296
2,2,Bengkulu,-3.80,102.27,87.87,59,0,13.96,ID,1601448296
3,3,Bayir,37.27,28.22,68.00,68,0,3.36,TR,1601448152
4,4,Butaritari,3.07,172.79,82.35,76,0,10.42,KI,1601448113
...,...,...,...,...,...,...,...,...,...,...
249,249,Kudahuvadhoo,2.67,72.89,83.41,71,6,8.43,MV,1601448381
250,250,Cícero Dantas,-10.60,-38.38,61.79,98,32,4.85,BR,1601448381
251,251,San Patricio,19.22,-104.70,79.32,85,100,3.47,MX,1601448382
252,252,Rome,43.21,-75.46,55.40,87,90,5.82,US,1601448299
253,253,Barranca,-10.75,-77.77,60.03,90,100,7.11,PE,1601448382

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
gmaps.configure(api_key=g_key)
locations = heatmap_df[["Lat", "Lng"]].astype(float)
humidity = heatmap_df["Humidity"].astype(float)
humidity.max()

100.0

In [23]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
heatmap_data = heatmap_df.loc[(heatmap_df["Max Temp"] < 100) &  
                              (heatmap_df["Max Temp"] >=70) &
                              (heatmap_df["Cloudiness"] == 0) &
                              (heatmap_df["Wind Speed"] < 10)].dropna()
heatmap_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
19,19,Qaryat Sulūq,31.67,20.25,77.27,46,0,8.59,LY,1601448302
79,79,Faya,18.39,42.45,77.00,22,0,4.70,SA,1601448322
86,86,Kiryat Gat,31.61,34.76,82.00,38,0,1.01,IL,1601448097
90,90,Sakakah,29.97,40.21,82.40,17,0,3.36,SA,1601448326
96,96,Banamba,13.55,-7.45,78.30,62,0,5.86,ML,1601448328
129,129,Tombouctou,20.00,-3.00,91.38,15,0,6.58,ML,1601448339
170,170,Yulara,-25.24,130.99,87.80,18,0,8.05,AU,1601448352
174,174,Tupã,-21.93,-50.51,74.30,62,0,8.63,BR,1601448276
176,176,Erzin,36.96,36.20,84.00,62,0,3.71,TR,1601448354
179,179,Awjilah,29.11,21.29,80.26,59,0,8.28,LY,1601448355
187,187,Ibrā’,22.69,58.53,93.06,21,0,6.06,OM,1601448357
218,218,Atar,20.52,-13.05,85.35,34,0,8.70,MR,1601448369
236,236,Cabo San Lucas,22.89,-109.91,82.00,69,0,1.66,MX,1601448376
239,239,Bani Walid,31.76,13.99,72.57,70,0,5.06,LY,1601448377

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
hotel_df = heatmap_data.loc[:,["City","Country","Lat","Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

               City Country    Lat     Lng Hotel Name
19     Qaryat Sulūq      LY  31.67   20.25
79             Faya      SA  18.39   42.45
86       Kiryat Gat      IL  31.61   34.76
90          Sakakah      SA  29.97   40.21
96          Banamba      ML  13.55   -7.45
129      Tombouctou      ML  20.00   -3.00
170          Yulara      AU -25.24  130.99
174            Tupã      BR -21.93  -50.51
176           Erzin      TR  36.96   36.20
179         Awjilah      LY  29.11   21.29
187           Ibrā’      OM  22.69   58.53
218            Atar      MR  20.52  -13.05
236  Cabo San Lucas      MX  22.89 -109.91
239      Bani Walid      LY  31.76   13.99

In [27]:
import json

In [28]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {
    "radius": 5000,
    "type": "hotel",
    "keyword": "hotel",
    "key": g_key}

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lon = row['Lng']
    city_name = row['City']

    params['location'] = f"{lat},{lon}"
    response = requests.get(url, params=params).json()
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("No hotel")

No hotel
No hotel
No hotel
Closest hotel in Sakakah is Raoum Inn Hotel.
No hotel
No hotel
Closest hotel in Yulara is Sails in the Desert.
Closest hotel in Tupã is Grande Hotel Tamoios.
Closest hotel in Erzin is Hattusa Vacation Thermal Club Erzin.
No hotel
Closest hotel in Ibrā’ is Ibra Hotel.
Closest hotel in Atar is Odar kanawal.
Closest hotel in Cabo San Lucas is Welk Resorts Cabo San Lucas - Sirena del Mar.
Closest hotel in Bani Walid is فندق الزيتونة.

In [29]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
19,Qaryat Sulūq,LY,31.67,20.25,
79,Faya,SA,18.39,42.45,
86,Kiryat Gat,IL,31.61,34.76,
90,Sakakah,SA,29.97,40.21,Raoum Inn Hotel
96,Banamba,ML,13.55,-7.45,
129,Tombouctou,ML,20.00,-3.00,
170,Yulara,AU,-25.24,130.99,Sails in the Desert
174,Tupã,BR,-21.93,-50.51,Grande Hotel Tamoios
176,Erzin,TR,36.96,36.20,Hattusa Vacation Thermal Club Erzin
179,Awjilah,LY,29.11,21.29,
187,Ibrā’,OM,22.69,58.53,Ibra Hotel
218,Atar,MR,20.52,-13.05,Odar kanawal
236,Cabo San Lucas,MX,22.89,-109.91,Welk Resorts Cabo San Lucas - Sirena del Mar
239,Bani Walid,LY,31.76,13.99,فندق الزيتونة

In [30]:
hotel_drop = hotel_df.loc[hotel_df["Hotel Name"] != ""]
hotel_drop

,City,Country,Lat,Lng,Hotel Name
90,Sakakah,SA,29.97,40.21,Raoum Inn Hotel
170,Yulara,AU,-25.24,130.99,Sails in the Desert
174,Tupã,BR,-21.93,-50.51,Grande Hotel Tamoios
176,Erzin,TR,36.96,36.20,Hattusa Vacation Thermal Club Erzin
187,Ibrā’,OM,22.69,58.53,Ibra Hotel
218,Atar,MR,20.52,-13.05,Odar kanawal
236,Cabo San Lucas,MX,22.89,-109.91,Welk Resorts Cabo San Lucas - Sirena del Mar
239,Bani Walid,LY,31.76,13.99,فندق الزيتونة

In [31]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row

for index, row in hotel_drop.iterrows():
    city = row['City']
    country = row['Country']
    lat = row['Lat']
    lon = row['Lng']
    hotel_name = row['Hotel Name']

# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_drop.iterrows()]
locations = hotel_drop[["Lat", "Lng"]]

hotel_info

['\n<dl>\n<dt>Name</dt><dd>Raoum Inn Hotel</dd>\n<dt>City</dt><dd>Sakakah</dd>\n<dt>Country</dt><dd>SA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Sails in the Desert</dd>\n<dt>City</dt><dd>Yulara</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Grande Hotel Tamoios</dd>\n<dt>City</dt><dd>Tupã</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hattusa Vacation Thermal Club Erzin</dd>\n<dt>City</dt><dd>Erzin</dd>\n<dt>Country</dt><dd>TR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Ibra Hotel</dd>\n<dt>City</dt><dd>Ibrā’</dd>\n<dt>Country</dt><dd>OM</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Odar kanawal</dd>\n<dt>City</dt><dd>Atar</dd>\n<dt>Country</dt><dd>MR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Welk Resorts Cabo San Lucas - Sirena del Mar</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>فندق الزيتونة</dd>\n<dt>City</dt><dd>Bani Walid</dd>\n<dt>Country</dt><dd>LY</dd>\n</dl>\n']

In [32]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure

fig

Figure(layout=FigureLayout(height='420px'))

- It found only 2 locations which has a max temperature lower than 80 degrees but higher than 70. Thus, tried to find lower then 100 degrees but higher than 70 and found 8 locations.
- We can find more locations in Northern Hemisphere then southern.
- In addition, most hotels are located near the Mediterranean area.